.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #000;
  color: #fff;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #ff6600;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 18px;
  color: #ccc;
  max-width: 600px;
}
